server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://user-service:8000
          predicates:
            - Path=/users/**
        - id: message-service
          uri: http://message-service:8001
          predicates:
            - Path=/messages/**
        - id: notification-service
          uri: http://notification-service:8002
          predicates:
            - Path=/notifications/**

management:
  endpoints:
    web:
      exposure:
        include: health,info

